.todolist {
  align-items: center;
}

.todo-container {
  position: relative;
  left: 30%;
  height: 30px;
  width: 35%;
  display: flex;
  border-radius: 5px;
}

.even-item {
  background-color: grey;
}

.todo-done {
  text-decoration: line-through;
}